<%- include("./partials/header") %>
  <form class="form-partial flex flex-column" action="/edit/<%= todo.id ? todo.id : 'create' %> " method="POST">
    <label for="todo_title">Titolo</label>
    <input class="form-field" type="text" id="todo_title" name="todo_title" maxlength="100" value="<%= todo.title %> "
      required />
    <label for="todo_description">Descrizione</label>
    <textarea name="todo_description" id="todo_description" rows="5">
<%= todo.description %></textarea>
    <select class="form-field" name="todo_select" id="todo_select">
      <option <%=todo.state==="Inserito" ? "selected" : null %> value="Inserito">Inserito</option>
      <option <%=todo.state==="In elaborazione" ? "selected" : null %> value="In elaborazione">In elaborazione</option>
      <option <%=todo.state==="Completato" ? "selected" : null %> value="Completato">Completato</option>
    </select>
    <label for="todo_deadline">Data di scadenza</label>
    <input class="form-field" type="date" id="todo_deadline" name="todo_deadline" value="<%= todo.deadline %>" />
    <button class="add-button marginx15" type="submit">Confirm changes</button>
  </form>
  <%- include("./partials/footer") %>